services:
  mysql_primary:
    image: bitnamilegacy/mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: sevendays_api
      MYSQL_DATABASE: api_sevendays_development
      MYSQL_PASSWORD: mysql
      MYSQL_REPLICATION_MODE: master
      MYSQL_REPLICATION_USER: repl_user
      MYSQL_REPLICATION_PASSWORD: repl_password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - 3306:3306
  mysql_replica:
    image: bitnamilegacy/mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: sevendays_api_replica
      MYSQL_DATABASE: api_sevendays_replica_development
      MYSQL_PASSWORD: mysql
      MYSQL_REPLICATION_MODE: slave
      MYSQL_REPLICATION_USER: repl_user
      MYSQL_REPLICATION_PASSWORD: repl_password
      MYSQL_MASTER_HOST: mysql_primary
      MYSQL_MASTER_PORT_NUMBER: 3306
      MYSQL_MASTER_ROOT_PASSWORD: mysql
    volumes:
      - mysql_replica_data:/var/lib/mysql
    ports:
      - 3307:3306

volumes:
  mysql_data:
  mysql_replica_data:
