name: API CI

on:
  pull_request:
    paths:
      - "api-sevendays/**"
      - ".github/workflows/api-ci.yml"
  push:
    branches: [ master ]
    paths:
      - "api-sevendays/**"
      - ".github/workflows/api-ci.yml"
  workflow_dispatch:

defaults:
  run:
    working-directory: api-sevendays

jobs:
  scan_ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/api-sevendays/Gemfile
        with:
          bundler-cache: true

      - run: bin/brakeman --no-pager
      - run: bin/bundler-audit

  lint:
    runs-on: ubuntu-latest
    env:
      RUBOCOP_CACHE_ROOT: api-sevendays/tmp/rubocop
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/api-sevendays/Gemfile
        with:
          bundler-cache: true

      - uses: actions/cache@v4
        env:
          DEPENDENCIES_HASH: ${{ hashFiles('api-sevendays/.ruby-version', 'api-sevendays/**/.rubocop.yml', 'api-sevendays/**/.rubocop_todo.yml', 'api-sevendays/Gemfile.lock') }}
        with:
          path: ${{ env.RUBOCOP_CACHE_ROOT }}
          key: rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}-${{ github.ref_name == github.event.repository.default_branch && github.run_id || 'default' }}
          restore-keys: |
            rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}-

      - run: bin/rubocop -f github
